@tailwind base;
@tailwind components;
@tailwind utilities;

.font-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-semibold {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
}

.font-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

body{
  @apply text-base font-regular text-gray-950 bg-gray-100
}

